
@{
    ViewBag.Title = "About";
}
<link href="~/CSS/navbar.css" rel="stylesheet" />
<link href="~/CSS/about.css" rel="stylesheet" />

<div class="wrapper">
    <div class="row m-0">
        <div class="cover-img">
        </div>
    </div>
    <div class="container">
        <div class="col-lg-12">
            <h2 class="title">Our Company</h2>
            <p class="p1">
                Mechwell Engineering is established with the purpose of serving good quality products and aims to serve with state-of-the-art technology. The 2017 founded corporate believes in providing facilities which focuses on reduced idle time, improved productivity, superior services and long term customer relation all under one roof.
                Every machine is designed with expertise expanding to provide variety along with maintaining its reliability, longevity and minimum operator involvement as its top priority.<br />
                Our Machineries has following salient features:<br />
                &nbsp;<span style='font-size:20px;'>&#9656;</span>	High Performance<br />
                &nbsp;<span style='font-size:20px;'>&#9656;</span>	Durability<br />
                &nbsp;<span style='font-size:20px;'>&#9656;</span>	Low Maintenance<br />
                &nbsp;<span style='font-size:20px;'>&#9656;</span>	Less Power Consumption.<br />
                We offer perpetual possibilities in automated packaging machine ranging from customized or tailor made solution backed by relied service and support to existing systems. We are also actively engaged in providing high quality machining and marine fabrication works. Consisting of sophisticated conventional and non conventional machines, we offer cutting edge quality standards. Marine fabrication is one of our specializations with the performance of no rejection till date. We believe in providing customer satisfaction with the quality performance and facilities. Utilization of formulated techniques makes us the sustainable solution in the competitive environment.
                <br />
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-timeline">
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <h3 class="title" style="line-height: 1.2;">Vision</h3>
                                    <p class="description">
                                        To be the pioneer in serving quality products & services with innovation and consistency.
                                    </p>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-icon">
                                        <i class="fa fa-rocket"></i>
                                    </div>
                                    <h3 class="title" style="line-height: 1.2;">Mission</h3>
                                    <p class="description">
                                        To gear up the sustainable engineering solutions for enhancing the quality of life.
                                    </p>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-icon">
                                        <i class="fa fa-briefcase"></i>
                                    </div>
                                    <h3 class="title" style="line-height: 1.2;">Values</h3>
                                    <p class="description">
                                        <b>Integrity:-</b> Follow transparent and ethical relationships.<br />
                                        <b>Respect:-</b> Embracing diversity and understanding the responsibility of communication.<br />
                                        <b>Dynamic:-</b> Adaptable to changing market demands.<br />
                                        <b>Commitment:-</b> Accountable for consistency in performance.<br />
                                        <b>Ingenious:-</b> Innovative perspective and modern technologies for better solutions.
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title">Quality Policy</h2>
                    <p class="p1" style="text-align: center;">
                        “To provide clients quality service on time, every time.
                        Our aim is to achieve, sustain and enhance customer satisfaction by continually improving the effectiveness of quality management system through teamwork and involvement of all members of the organization.
                        We adhere to the stated commitment with the procedural follow up according to the customer’s requirements and expectations and thereby assure consistency and quality of very machine manufactured.”
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>