
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="../CSS/navbar.css" rel="stylesheet" />
<link href="../CSS/gallery.css" rel="stylesheet" />
<link href="../CSS/lightbox2-master/dist/css/lightbox.css" rel="stylesheet" />
<script src="~/CSS/lightbox2-master/dist/js/lightbox-plus-jquery.js"></script>

<div class="row m-0">
    <div class="col-lg-12">
        <div class="gallery">
            <h1 class="display-3 text-center">Photo Gallery</h1>
        </div>
        <section style="width:90%;margin:auto">
            <div class="row m-0">
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Machining_Works/68583756-welding-wallpapers.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Machining_Works/68583756-welding-wallpapers.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">

                        <a class="example-image-link" href="../Images/Machining_Works/69108025-welding-wallpapers.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Machining_Works/69108025-welding-wallpapers.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Machining_Works/MILLING OPERATION.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Machining_Works/MILLING OPERATION.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Others/home_image.png" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Others/home_image.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="row m-0">
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Machining_Works/vmc.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Machining_Works/vmc.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Machining_Works/WATERJET.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Machining_Works/WATERJET.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/BELAYING PIN LOCKING.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/BELAYING PIN LOCKING.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/BELAYING_PIN.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/BELAYING_PIN.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="row m-0">
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/BOAT RAILING.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/BOAT RAILING.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/boat_trailer.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/boat_trailer.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/boat_trailer5.png" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/boat_trailer5.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/br&hr2.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/br&hr2.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="row m-0">
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/br&hr.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/br&hr.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/GANGWAY.JPG" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/GANGWAY.JPG" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/gangway1 (2).jpeg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/gangway1 (2).jpeg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/Gangway2.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/Gangway2.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="row m-0">
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/ind_pol1.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/ind_pol1.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/ROLLER_FRAME.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/ROLLER_FRAME.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/twin_pol.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/twin_pol.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/WhatsApp Image 2019-04-07 at 12.10.03 PM.jpeg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/WhatsApp Image 2019-04-07 at 12.10.03 PM.jpeg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="row m-0">
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/WhatsApp Image 2019-04-07 at 12.10.05 PM.jpeg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/WhatsApp Image 2019-04-07 at 12.10.05 PM.jpeg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Pharm_fabrication/1.jpeg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Pharm_fabrication/1.jpeg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Pharm_fabrication/2.jpeg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Pharm_fabrication/2.jpeg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Shredding_machine/1.jpeg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Shredding_machine/1.jpeg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="row m-0">
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/VFFS_Packaging_Machine/10.jpg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/VFFS_Packaging_Machine/10.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/VFFS_Packaging_Machine/2.jpeg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/VFFS_Packaging_Machine/2.jpeg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Shredding_machine/2.jpeg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Shredding_machine/2.jpeg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-img">
                        <a class="example-image-link" href="../Images/Marine_Fabrication/gangway_1.jpeg" data-lightbox="example-set" data-title="">
                            <img class="example-image" src="../Images/Marine_Fabrication/gangway_1.jpeg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

