
@{
    ViewBag.Title = "Product";

}
<link href="~/CSS/navbar.css" rel="stylesheet" />
<link href="~/CSS/index.css" rel="stylesheet" />

<div class="col-lg-12" style="margin-top: 87px;">
    <div class="row m-0">
        <div class="col-lg-12">
            <h3 class="title">
                Products
            </h3>
        </div>
        <div class="col-lg-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <a href="/Products/VFFS_Packaging_Machine">
                        <div class="flip-card-front" style="background-image:url('../Images/VFFS_Packaging_Machine/1.jpeg')">
                            <h4 class="product-title product-title-red">VFFS Packaging Machine</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <a href="/Products/Pharma_cosmetic">
                        <div class="flip-card-front" style="background-image:url('../Images/Pharm_fabrication/2.jpeg')">
                            <h4 class="product-title product-title-blue">Pharma and cosmetic machinery</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <a href="/Products/Marine_Fabrication">
                        <div class="flip-card-front" style="background-image:url('../Images/Marine_Fabrication/gangway_1.JPeG')">
                            <h4 class="product-title product-title-red">Marine Fabrication</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="row m-0">
        <div class="col-lg-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <a href="/Products/Machining_Works">
                        <div class="flip-card-front" style="background-image:url('../Images/Machining_Works/MILLING OPERATION.jpg'); background-size:cover">
                            <h4 class="product-title product-title-blue">Machining Works</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <a href="/Products/Shredding_Machine">
                        <div class="flip-card-front" style="background-image:url('../Images/Shredding_machine/1.jpeg')">
                            <h4 class="product-title product-title-red">Shredding Machine</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <a href="/home/Coming_soon">
                        <div class="flip-card-front" style="background-image:url('../Images/Backgrounds/ps_card_bg.jpg')">
                            <h4 class="product-title product-title-blue">Coming Soon...</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

